body {
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 600px;
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: yellow;
    text-align: center;
}

td {
    vertical-align: top;
}

.yellow {
  background-color: yellow;
}

tfoot {
  background-color: yellow;
  font-weight: bold;
  text-align: right;
}
